<!DOCTYPE html>
<html>
    <body>
        <div class="page-container">
            <main>
                <h1>hello this website is under development</h1>
                <p>this websiteis created on 2026/04/16</p>

                <a href="https://youtu.be/4tPJPE4uOEo?si=_e8NxCDzKFMk3CIu">
                    <button>click me</button></a>
                    <img src="image/download.jpg" alt="wert">
                    <a href="./pages/about.html"><button>click this for a secret

                    </button></a>
            </main>
        </div>
    </body>
   
</html>
<!DOCTYPE  html>
<html>
<body>
    <div class="page-container">
        <h2>Hello mai nandar</h2>
        <a href="  https://youtu.be/FJlEkNVcVXc?si=DnUknb5D2lmg0djc">
            <button>dont click</button></a>

        <img src="image/picturre for website.jpg" alt="where">

        <div class="form-group" style="border-left-width: 45px;">
            <label style="display: inline-block; font-weight: bold;">email</label>
            <input type="email"
                    id="user-email"
                    name="email"
                    placeholder="email@.com"
                    >

        </div>
    </div>
</body>
</html>


